<template>
    <div>
        <h4>asset details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Id
            </dt>

            <dd>
                ${asset.id}
            </dd>

            <dt>
                Rank
            </dt>

            <dd>
                ${asset.rank}
            </dd>

            <dt>
                Symbol
            </dt>

            <dd>
                ${asset.symbol}
            </dd>

            <dt>
                Name
            </dt>

            <dd>
                ${asset.name}
            </dd>

            <dt>
                Supply
            </dt>

            <dd>
                ${asset.supply}
            </dd>
            <dt>
                MaxSupply
            </dt>

            <dd>
                ${asset.maxSupply}
            </dd>
            <dt>
                MarketCapUsd
            </dt>

            <dd>
                ${asset.marketCapUsd}
            </dd>
            <dt>
                VolumeUsd24Hr
            </dt>

            <dd>
                ${asset.volumeUsd24Hr}
            </dd>
            <dt>

                PriceUsd
            </dt>

            <dd>
                ${asset.priceUsd}
            </dd>
            <dt>
                ChangePercent24Hr
            </dt>

            <dd>
                ${asset.changePercent24Hr}
            </dd>
            <dt>
                Vwap24Hr
            </dt>

            <dd>
                ${asset.vwap24Hr}
            </dd>

        </dl>

        <a route-href="route:assetlist"
           class="btn btn-default">
            Back to list
        </a>
    </div>
</template>
