<template>
    <div>
        <h4>asset details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Id
            </dt>

            <dd>
                ${asset.Id}
            </dd>

            <dt>
                Rank
            </dt>

            <dd>
                ${asset.Rank}
            </dd>

            <dt>
                Symbol
            </dt>

            <dd>
                ${asset.Symbol}
            </dd>

            <dt>
                Name
            </dt>

            <dd>
                ${asset.Name}
            </dd>

            <dt>
                Supply
            </dt>

            <dd>
                ${asset.Supply}
            </dd>
            <dt>
                MaxSupply
            </dt>

            <dd>
                ${asset.MaxSupply}
            </dd>
            <dt>
                MarketCapUsd
            </dt>

            <dd>
                ${asset.MarketCapUsd}
            </dd>
            <dt>
                VolumeUsd24Hr
            </dt>

            <dd>
                ${asset.VolumeUsd24Hr}
            </dd>
            <dt>
                PriceUsd
            </dt>

            <dd>
                ${asset.PriceUsd}
            </dd>
            <dt>
                ChangePercent24Hr
            </dt>

            <dd>
                ${asset.ChangePercent24Hr}
            </dd>
            <dt>
                Vwap24Hr
            </dt>

            <dd>
                ${asset.Vwap24Hr}
            </dd>

        </dl>

        <a route-href="route:assetlist"
           class="btn btn-default">
            Back to list
        </a>
    </div>
</template>
